
@{
    ViewBag.Title = "PayPal";
    Layout = "~/Views/Admin/_AdminLayout.cshtml";
}

<h2>PayPal</h2>

@*<iframe src="https://paypalmanager.sandbox.paypal.com/login.do" height="800" width="1100" style="border:none;"></iframe>*@