@{
    ViewBag.Title = "About";
}
<div class="menu-body">
    <!-- Section starts: Sides -->
    <div class="menu-section">
        <h2 class="menu-section-title">Sides</h2>
        <!-- Item starts -->
        <div class="menu-item">
            <div class="menu-item-name">
                Sour Cream & Chive Fries
            </div>
            <div class="menu-item-price">
                $4
            </div>
            <div class="menu-item-description">
                Loaded with bacon, green onions, and Wisconsin cheddar. Served with sour cream & chive sauce.
            </div>
        </div>
        <!-- Item ends -->
        <!-- Item starts -->
        <div class="menu-item">
            <div class="menu-item-name">
                Deep Fried Provolone Sticks
            </div>
            <div class="menu-item-price">
                $6
            </div>
            <div class="menu-item-description">
                Hand cut slabs of smoked provolone dipped in craft beer batter and fried. Served with marinara.
            </div>
        </div>
        <!-- Item ends -->
        <!-- Item starts -->
        <div class="menu-item">
            <div class="menu-item-name">
                White Cheddar Cheese Curds
            </div>
            <div class="menu-item-price">
                $5
            </div>
            <div class="menu-item-description">
                Classic Leinenkugel-battered white cheddar curds, served with ranch and marinara.
            </div>
        </div>
        <!-- Item ends -->
    </div>
    <!-- Section ends: Sides -->
    <!-- Section starts: Main Dishes -->
    <div class="menu-section">
        <h2 class="menu-section-title">Main Dishes</h2>
        <!-- Item starts -->
        <div class="menu-item">
            <div class="menu-item-name">
                Wisconsin Grilled Cheese Sandwich
            </div>
            <div class="menu-item-price">
                $9
            </div>
            <div class="menu-item-description">
                Cherrywood smoked bacon and sliced apples with creamy cheddar and mozzarella, served on fresh baked sourdough.
            </div>
        </div>
        <!-- Item ends -->
        <!-- Item starts -->
        <div class="menu-item">
            <div class="menu-item-name">
                Beer-Battered Cod Sandwich
            </div>
            <div class="menu-item-price">
                $11
            </div>
            <div class="menu-item-description">
                Miller High Life batter, deep fried until golden, served on a kaiser roll with a side of tartar sauce.
            </div>
        </div>
        <!-- Item ends -->
        <!-- Item starts -->
        <div class="menu-item">
            <div class="menu-item-name">
                Milwaukee-Style Hot Dog
            </div>
            <div class="menu-item-price">
                $8
            </div>
            <div class="menu-item-description">
                Topped with cheese, cheese sauce, and our famous cheese curds.
            </div>
        </div>
        <!-- Item ends -->
        <!-- Item starts -->
        <div class="menu-item">
            <div class="menu-item-name">
                Usingers Cheddar Jalapeno
            </div>
            <div class="menu-item-price">
                $9
            </div>
            <div class="menu-item-description">
                Brat stuffed with sharp cheddar and jalapenos, topped with sauerkraut, and served on a German pretzel roll.
            </div>
        </div>
        <!-- Item ends -->
        <!-- Item starts -->
        <div class="menu-item">
            <div class="menu-item-name">
                The Billy Bob
            </div>
            <div class="menu-item-price">
                $8
            </div>
            <div class="menu-item-description">
                Pulled smoked pork shoulder served open-faced on garlic Texas toast, topped with tangy bbq sauce.
            </div>
        </div>
        <!-- Item ends -->
        <!-- Item starts -->
        <div class="menu-item">
            <div class="menu-item-name">
                Doritos Walking Taco
            </div>
            <div class="menu-item-price">
                $7
            </div>
            <div class="menu-item-description">
                Nacho cheese Doritos with chorizo, lettuce, tomato, sour cream, cheese, and salsa.
            </div>
        </div>
        <!-- Item ends -->
    </div>
    <!-- Section ends: Main Dishes -->
    <!-- Section starts: Desserts -->
    <div class="menu-section">
        <h2 class="menu-section-title">Desserts</h2>
        <!-- Item starts -->
        <div class="menu-item">
            <div class="menu-item-name">
                Deep Fried Oreos
            </div>
            <div class="menu-item-price">
                $4
            </div>
            <div class="menu-item-description">
                A state fair classic.
            </div>
        </div>
        <!-- Item ends -->
        <!-- Item starts -->
        <div class="menu-item">
            <div class="menu-item-name">
                Cheesecake On-a-Stick
            </div>
            <div class="menu-item-price">
                $5
            </div>
            <div class="menu-item-description">
                Dipped in chocolate and sprinkled with chopped peanuts.
            </div>
        </div>
        <!-- Item ends -->
    </div>
    <!-- Section ends: Desserts -->
    <!-- Section starts: Beverages -->
    <div class="menu-section">
        <h2 class="menu-section-title">Beverages</h2>
        <!-- Item starts -->
        <div class="menu-item">
            <div class="menu-item-name">
                Bottled Water
            </div>
            <div class="menu-item-price">
                $2
            </div>
        </div>
        <!-- Item ends -->
        <!-- Item starts -->
        <div class="menu-item">
            <div class="menu-item-name">
                Pepsi Products
            </div>
            <div class="menu-item-price">
                $2
            </div>
            <div class="menu-item-description">
                Pepsi, Diet Pepsi, Mountain Dew, Mug Root Beer, Sierra Mist
            </div>
        </div>
        <!-- Item ends -->
    </div>
    <!-- Section ends: Beverages -->
</div>
