@{
    ViewBag.Title = "Opportunities";
}

<h1>Current Job Opportunities</h1>
<hr />
<h3>Cook</h3>
<p>
    <i>Cooks prepare customer orders in a timely manner as they are received. Must work well in a fast-paced environment. Stop by our food truck to apply!</i>
</p>

<h3>Sales Associate</h3>
<p>
    <i>Sales Associates take orders and payment from our customers. Must have customer service experience, and the ability to work in a fast-paced environment. Stop by our food truck to apply!</i>
</p>