@{
    ViewBag.Title = "Opportunities";
}


<div class="row">
    <div class="col-md-8">
        <h1>Current Job Opportunities</h1>
        <hr />
        <h3>Cook</h3>
        <p>
            <i>Cooks prepare customer orders in a timely manner as they are received. Must work well in a fast-paced environment. Stop by our food truck to apply!</i>
        </p>
        <br />
        <h3>Sales Associate</h3>
        <p>
            <i>Sales Associates take orders and payment from our customers. Must have customer service experience, and the ability to work in a fast-paced environment. Stop by our food truck to apply!</i>
        </p>
        <br />
        <h3>Hype-Marketer</h3>
        <p>
            <i>We want you to help us sell and promote our brand! Stop by our food truck to apply!</i>
        </p>
        <br />
        <h3>Entry-Level Web Developer</h3>
        <p>
            <i>Know and love ASP.NET MVC 5? We need you to help maintain this site!! Stop by our food truck to apply!</i>
        </p>
        <br />
    </div>
    <div class="col-md-4">
        <img src="~/Content/Images/CourtHouse.JPG" width="600" height="800" />
    </div>
    </div>
